<div class="col">
<mat-form-field>
<input (keyup)="applySearch($event.target.value)" matInput placeholder="Search">
</mat-form-field>
</div>


<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort (matSortChange) = "sortOrder($event)">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="Bill No">
    <th mat-header-cell *matHeaderCellDef mat-sort-header = "Bill No"> Bill No </th>
    <td mat-cell *matCellDef="let element"> {{element.billNo}} </td>
  </ng-container>

  <ng-container matColumnDef="Order Id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header = "Order Id"> Order Id </th>
    <td mat-cell *matCellDef="let element"> {{element.order_id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="Request Name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header = "Request Name"> Request Name </th>
    <td mat-cell *matCellDef="let element"> {{element.reqName}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="org_billed">
    <th mat-header-cell *matHeaderCellDef> Organization Billed </th>
    <td mat-cell *matCellDef="let element"> {{element.org_billed}} </td>
  </ng-container>

  <ng-container matColumnDef="item_name">
    <th mat-header-cell *matHeaderCellDef> Item Name </th>
    <td mat-cell *matCellDef="let element"> {{element.item_name}} </td>
  </ng-container>

  <ng-container matColumnDef="total">
    <th mat-header-cell *matHeaderCellDef> Total  Price</th>
    <td mat-cell *matCellDef="let element"> {{element.total}} </td>
  </ng-container>


  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef> Status </th>
    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
  </ng-container>



  <ng-container matColumnDef="view">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element" class="action-link">
        <button mat-icon-button color='primary' (click)="onView(element.billNo)"><mat-icon>remove_red_eye</mat-icon></button>

      </td>
    </ng-container>



  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
