<!--<router-outlet>
    <button type = "button" name="Purchase Order" routerLink="/purchase-order">Purchase Order</button>
    <button type = "button" name="Invoice" routerLink="/invoice">Purchase Order</button>
    <button type = "button" name="Track Order" routerLink="/track-order">Purchase Order</button>
</router-outlet>-->

<h1>Dashboard</h1>
    <input type="button" value="Purchase Order" routerLink="/purchase-order" id="button">
    <input type="button" value="Invoice creation" routerLink="/invoice" id="button">
    <input type="button" value="Track Order" routerLink="/track-order" id="button">
<router-outlet></router-outlet>