

<mat-sidenav-container fullscreen>
  <mat-sidenav class="list-background-image" mode="side" #sidenav opened position="start" style="width: 270px; padding:15px;">
  <div class="container" style="font-size: 24px; text-align: center;">
  <span>PROCUREMENT</span>
  </div>

  <hr>
    <mat-nav-list class="mat-list">

      <mat-list-item class="list-item" [routerLink]="'/home'" [routerLinkActive]="['is-active']"> <span class="material-icons icon-padding">dashboard</span>Dashboard</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item class="list-item" [routerLink]="'/requisitionHome'" [routerLinkActive]="['is-active']"><span class="material-icons icon-padding">publish</span> Requisition</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item class="list-item" [routerLink]="'/supplierHome'" [routerLinkActive]="['is-active']"><span class="material-icons icon-padding">storefront</span> Supplier</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item class="list-item" [routerLink]="'/track-order'" [routerLinkActive]="['is-active']"><span class="material-icons icon-padding">local_shipping</span> Track Order</mat-list-item>

    </mat-nav-list>
    <mat-nav-list class="list-position sign-out">
    <mat-list-item class="list-item" [routerLink]="'#'" [routerLinkActive]="['is-active']"><span class="material-icons icon-padding">reply</span>Sign Out</mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content style="padding: 10px;">
  <mat-toolbar>
  <mat-toolbar-row>
<!--    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>



    <span style="font-size: 24px;">Procurement App</span>
    -->

  </mat-toolbar-row>

</mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>


