
<button style="background-color: #1d87cf;
      position: fixed;
      top: 30%;
      right: 1rem;" class="btn btn-primary" (click)="seePO()">View PO</button>

<div class="container">
    <h1>Purchase Order - <span style="color:red;">{{ po.billNo }}</span></h1>

    <section class="container border mb-4 p-3"  >
    <form #mainForm="ngForm" class="container mt-3 custom">
    <table>

      <tr>
        <td><h5>Tracking Link&nbsp;</h5></td>
        <td>
        <div class="form-group">
        <input type="text" class="form-control"  [(ngModel)]="po.tracking_link" name="tracking_link" placeholder="Tracking Link" required>
        </div>
        </td>
      </tr>

      <br>

      <tr>
        <td><h5>Estimated Arrival&nbsp;</h5></td>
        <td>
        <div class="form-group">
        <input type="date" class="form-control"  [(ngModel)]="po.estimated_arrival" name="estimated_arrival" required>
        </div>
        </td>
      </tr>

       <tr>
        <td><h5>Update Status&nbsp;</h5></td>
        <td>
        <div class="form-group">
          <select  [(ngModel)]="po.po_status" class="form-control" name="status" placeholder="Status" required>
            <option value="Confirmed">Order Confirmed</option>
            <option value="Processing">Order Processing</option>
            <option value="Quality Check">Item Quality Check</option>
            <option value="Item Dispatched">Item Dispatched</option>
            <option value="Item Delivered">Item Delivered</option>
        </select>
        </div>
        </td>
      </tr>

       <tr>
        <td><h5>Message for Client&nbsp;</h5></td>
        <td>
        <div class="form-group">
        <input type="text" class="form-control"  [(ngModel)]="po.message_client" name="message" placeholder="Message"required>
        </div>
        </td>
      </tr>




      <br>

    </table>
     <div class="text-right">
      <button type="submit" class="btn btn-success" (click)="send()">Send</button>
      </div>
    </form>
    </section>


</div>
