tr {
    border: 1px solid black;
}

td {
    border: 1px solid black;
}

form-style-1 {
    width: 50%;
    margin: 0 auto;
}

mat-form-field {
    width: 100%;
}

.form-style-1 {
    margin: 10px auto;
    max-width: 400px;
    padding: 20px 12px 10px 20px;
    font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.form-style-1 li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}

.form-style-1 label {
    margin: 0 0 3px 0;
    padding: 0px;
    display: block;
    font-weight: bold;
}

.form-style-1 input[type=text],
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea,
select {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #BEBEBE;
    padding: 7px;
    margin: 0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
}

.form-style-1 input[type=text]:focus,
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus,
.form-style-1 select:focus {
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
}

.form-style-1 .field-divided {
    width: 49%;
}

.form-style-1 .field-long {
    width: 100%;
}

.form-style-1 .field-select {
    width: 100%;
}

.form-style-1 .field-textarea {
    height: 100px;
}

.form-style-1 input[type=submit],
.form-style-1 input[type=button] {
    background: #4B99AD;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
}

.form-style-1 input[type=submit]:hover,
.form-style-1 input[type=button]:hover {
    background: #4691A4;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.form-style-1 .required {
    color: red;
}

#equipmax {
    width: 100%;
    margin: 0 auto;
    height: 150px;
    background-color: #8860d0;
}

@import "src/theme.scss";
select {
    border: 1px solid #dce0d4;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    width: max-content;
}

label {
    font-size: 16px;
    color: black;
    padding-left: 10px;
}

input[type='text'] {
    border: 1px solid #dce0d4;
    border-radius: 5px;
    padding: 5px;
}

textarea {
    border: 1px solid #dce0d4;
    border-radius: 5px;
    padding: 5px;
}

input[type='number'] {
    border: 1px solid #dce0d4;
    border-radius: 5px;
    padding: 5px;
}

input[type='button'] {
    background-color: mat-color($reddish-app-accent);
    color: white;
    font-size: 16px;
    border: 0px solid #dce0d4;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    align-content: center;
}

input[type='button']:hover {
    background-color: rgb(55, 102, 133);
}

.stylepopupbuttonconfirm {
    background-color: mat-color($reddish-app-primary);
    color: white;
    font-size: 16px;
}

.stylepopupbuttoncancel {
    margin-left: 10px;
    background-color: rgb(179, 41, 37);
    color: white;
    font-size: 16px;
}

.logo {
    color: #eaece6;
    font-size: 22px;
    margin-left: 15px;
    padding-top: 10px;
}

.logo .apptype {
    font-size: 18px;
}

.example-container {
    width: 100%;
    height: 100%;
    margin: 10px;
    border: 1px solid #555;
}

.item {
    background: "white";
}

table {
    width: 80%;
    text-align: center;
}

.normal-field {
    width: 100%;
}

.custom {
    text-align: center;
}

.text-right {
    text-align: right;
}

.mat-stepper-horizontal {
    margin-top: 8px;
}

.mat-form-field {
    margin-top: 16px;
}

.ng-valid.ng-dirty:not(form) {
    border: solid 2px lightgreen;
}

.ng-invalid.ng-dirty:not(form),
.ng-invalid:not(form).form-submitted {
    border: solid 2px lightcoral;
}