

<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
    <ng-template matStepLabel>Invoice Details</ng-template>
    <br>
         <table>

      <tr>
        <td><h5>Invoice Date&nbsp;</h5></td>
        <td>
        <input type="text" [(ngModel)]="invoice.invoice_date" formControlName="invoice_date" name="invoice_date" id="field5" class="form-control" disabled/>
        </td>
      </tr>
     <br>
      <tr>
        <td><h5>Invoice Due Date&nbsp;</h5></td>
        <td>
          <input type="text" [(ngModel)]="invoice.invoice_due_date" formControlName="invoice_due_date"  name="invoice_due_date" id="field5" class="form-control" disabled/>
        </td>
      </tr>
      <br>
      <tr>
       <td><h5>Credit Days</h5></td>
       <td>
        <input type="number" [(ngModel)]="invoice.credit_days" formControlName = "credit_days" name="credit_days" id="field5" class="form-control" disabled/>

       </td>
      </tr>

      <br>

      <tr>
       <td><h5>Invoice to Address</h5></td>
       <td>
        <textarea [(ngModel)]="invoice.invoice_address" formControlName = "invoice_address" name="invoice_address" id="field5" class="form-control field-textarea" disabled></textarea>

       </td>
      </tr>

            <br>

      <tr>
       <td><h5>Description</h5></td>
       <td>
       <textarea [(ngModel)]="invoice.description" formControlName = "description" name="description" id="field5" class="form-control field-textarea" disabled></textarea>

       </td>
      </tr>

      <br>


      </table>

      <br>
      <div class="text-right">
        <button class="btn btn-primary" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Item Details</ng-template>
      <br>
      <table>

      <tr>
        <td><h5>Item Number&nbsp;</h5></td>
        <td>
        <input type="number" class="form-control"  [(ngModel)]="invoice.item_id" formControlName="item_id" disabled required>
        </td>
      </tr>
     <br>

      <tr>
        <td><h5>Item Name&nbsp;</h5></td>
        <td>
      <input type="text" class="form-control"  [(ngModel)]="invoice.item_name" formControlName="item_name" disabled required>
     </td>
      </tr>
     <br>

     <tr>
       <td><h5>Market Price</h5></td>
       <td>
       <input type="number" [(ngModel)]="invoice.market_price" class="form-control" formControlName="item_market_price" disabled required>
       </td>
      </tr>

       <br>

       <tr>
       <td><h5>Unit Price</h5></td>
       <td>
       <input type="number" [(ngModel)]="invoice.unit_price" class="form-control" formControlName="item_unit_price" disabled required>
       </td>
      </tr>

       <br>

       <tr>
       <td><h5>Ordered Quantity</h5></td>
       <td>
       <input type="number" [(ngModel)]="invoice.ordered_quantity" class="form-control" formControlName="item_ordered_quantity" disabled required>
       </td>
      </tr>

       <br>

       <tr>
       <td><h5>Invoiced Quantity</h5></td>
       <td>
       <input type="number" [(ngModel)]="invoice.invoiced_quantity" class="form-control" formControlName="item_invoiced_quantity" disabled required>
       </td>
      </tr>

       <br>

       <tr>
       <td><h5>Taxes</h5></td>
       <td>
       <input type="number" [(ngModel)]="invoice.tax" class="form-control" formControlName="item_tax" disabled required>
       </td>
      </tr>


       <br>



     </table>
      <div class="text-right">
        <button class="btn btn-primary" matStepperPrevious>Back</button>&nbsp;
      </div>
    </form>
  </mat-step>


</mat-horizontal-stepper>
